.view_container {
  position: relative;
}

.view_content_wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  padding: 100px 0px 50px 0px;
  background-color: white;
}

.view_section {
  margin: 100px 0px;
}

.view_content_container {
  width: max(62%, 400px);
}

.view_para {
  margin: 30px 0px;
}

.view_fw_content {
  position: sticky;
  bottom: 0px;
  z-index: -5;
}
