.container {
  margin: 450px 0px;
  background: #eee;
  padding: 30px 25px;
  border-radius: 5px;
}

.heading {
  font-size: 22px;
  margin: 0px;
  font-weight: 500;
  color: #1B489D;
  font-family: 'Playfair Display', serif;
}

.para {
  font-size: 14px;
  line-height: 18px;
  margin: 0px;
  margin-top: 15px;
  color: #000;
}

.image_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.image_container_inner {
  width: 47%;
}

.image {
  width: 100%;
  max-height: 150px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.4s ease;
}

.image:hover {
  transform: scale(1.05);
}


@media only screen and (max-width: 800px) {
  .container {
    background: rgba(22, 62, 70, 0.95);
  }
}

@media only screen and (min-width: 1200px) and (max-height: 630px) {
  .heading {
    font-size: 21px;
  }

  .para {
    font-size: 12px;
    line-height: 16px;
  }
  .image {
    max-height: 140px;
  }

}

@media only screen and (min-width: 2350px) {
  .heading {
    font-size: 48px;
  }

  .para {
    font-size: 26px;
    line-height: 30px;
  }
  .image {
    max-height: 250px;
  }
}
