.clickLink {
  text-decoration: none;
  font-weight: bold;
  color: #1a489d;
}

.view_container {
  position: relative;
}

.view_content_wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  padding: 100px 0px 50px 0px;
  background-color: white;
}

.view_section {
  margin: 100px 0px;
}

.view_content_container {
  width: 62%;
  transform: translate3d(0,0,0);
}

.view_para {
  margin: 30px 0px;
  font-size: 1rem;
}

.view_para_news {
  margin: 30px 0px 40px 0px;
  line-height: 1.45em;
  font-size: 1rem;
}

.view_fw_content {
  position: sticky;
  bottom: 0px;
  z-index: -5;
}

.video_contain_center {
  display: flex;
  justify-content: center;
}

.video_contain{
  margin: 3em;
}

.video_caption {
  text-align: center;
  font-family: 'Roboto', sans-serif;
  color:#1a489d ;
  font-weight: 500;
  font-size: 1rem;
  width: 650px;
}

.video_contain iframe{
  width: 650px;
  height: 365px;
} 


.big_photo_contain {
  display: flex;
  justify-content: center;
}

.big_photo_contain div {
  width: 70%;
}

.big_photo_contain div img{
  width: 100%;
}

.caption_big_photo {
  font-size: 0.8rem;
}

.content_section {
  position: relative;
  z-index: 1;
  background: white;
}

.boldAndGrey {
  font-weight: 700;
  color: #424242;
}

.unBoldAndBlack {
  font-weight: 400;
  color: #000;
}

.jang::before {
  content: ' ';
}

.jang::after {
  content: ' ';
}

.nwakt::before {
  content: ' ';
}

.nwakt::after {
  content: ' ';
}

@media screen and (max-width: 80em) {
  .view_content_container {
    width: 70%;
  }
  .video_contain{
    margin: 2em;
  }
  
  .video_contain iframe{
    width: 580px;
    height: 325px;
  } 

  .video_caption {
    width: 580px;
  }
}

@media screen and (max-width: 60em){
  .view_content_container {
    width: 75%;
  }

  .video_contain{
    margin: 1.5em;
  }
  
  .video_contain iframe{
    width: 520px;
    height: 292px;
  } 

  .video_caption {
    width: 520px;
    font-size: 0.9rem;
  }

  .view_para {
    margin: 25px 0px;
    font-size: 0.9rem;
  }


  .view_para_news {
    margin: 25px 0px 30px 0px;
    font-size: 0.9rem;
  }
}

@media screen and (min-width: 900px) and (max-height: 650px) {
  .view_para {
    margin: 25px 0px;
    font-size: 0.8rem;
  }
  .view_para_news {
    margin: 25px 0px 30px 0px;
    font-size: 0.8rem;
  }
  .video_contain iframe{
    width: 520px;
    height: 292px;
  } 
  .video_caption {
    width: 520px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 40em){
  .view_content_container {
    width: 85%;
  }

  .view_para {
    margin: 20px 0px;
    font-size: 0.8rem;
  }

  .video_contain{
    margin: 0.5em;
  }
  
  .video_contain iframe{
    width: 380px;
    height: 213px;
  } 

  .video_caption {
    width: 380px;
    font-size: 0.7rem;
  }

  .view_para_news {
    margin: 20px 0px 25px 0px;
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 30em) {

  .monthNav {
    width: 90%;
  }

  .video_contain{
    margin: 0.3em;
  }
  
  .video_contain iframe{
    width: 350px;
    height: 196px;
  } 

  .video_caption {
    width: 350px;
  }
}

@media screen and (max-width: 20em) {
  
  .video_contain iframe{
    width: 276px;
    height: 155px;
  } 

  .video_caption {
    width: 276px;
  }
}
