.view_container {
  position: relative;
}

.view_content_wrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  padding: 100px 0px 50px 0px;
  background-color: white;
}

.view_section {
  margin: 100px 0px;
}

.view_content_container {
  width: max(62%, 400px);
}

.view_para {
  margin: 30px 0px;
}

.view_para_news {
  margin: 30px 0px;
  line-height: 1.35em;
}

.view_fw_content {
  position: sticky;
  bottom: 0px;
  z-index: -5;
}

.video_contain_center {
  display: flex;
  justify-content: center;
}

.video_contain_center div{
  margin: 5em;
}

.big_photo_contain {
  display: flex;
  justify-content: center;
}

.big_photo_contain div {
  width: 70%;
}

.big_photo_contain div img{
  width: 100%;
}

.caption_big_photo {
  font-size: 0.8rem;
}

.content_section {
  position: relative;
  z-index: 1;
  background: white;
}

.jang {
  background-color: #D7EDF7;
  border-radius: 3px;
}

.jang::before {
  content: ' ';
}

.jang::after {
  content: ' ';
}