.chapter_title {
  height: min(100vh, 1000px);
  position: relative;
  z-index: 1;
  transform: translate3d(0,0,0);
  overflow-x: hidden;
}

.chapter_title_content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.chev_title_and_subtitle {
  display: flex;
  flex-direction: row;
  align-items: center;
  animation: fade_up 0.8s ease-out 0.2s;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes fade_up {
  0% {
    opacity: 0;
    transform: translateY(50px);
  } 
  
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.title_and_subtitle {
  display: flex;
  flex-direction: column;
}

.chevron {
  display: flex;
  font-size: 2em;
  margin: 0px 30px;
  position: relative;
  color: #1B489D;
  cursor: pointer;
  z-index: 1;
}

.chevron:hover {
  color: #ffffff;
}

.chevron_explainer {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  color: #1B489D;
  font-weight: 500;
  transition: transform 250ms ease-out, opacity 250ms ease-out;
  z-index: 0;
  opacity: 0;
}

.chevron_explainer_prev {
  transform: translate(80px);
}

.chevron_explainer_next {
  transform: translate(-80px);
}

.active {
  transform: translate(0px);
  opacity: 1;
}

.chevron::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: #2584c6;
  border-radius: 3px;
  transform: scaleX(0);
  transition: transform 275ms ease-in-out;
  transform-origin: right;
  z-index: -1;
}

.chevron:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}


.chapter_no {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: .2rem;
  font-size: 1.7rem;
  color: #1B489D;
  border: 1px solid #1B489D;
  padding: 8px 8px;
  margin: 16px 0px 65px 0px;
  opacity: 0;
  animation: fade_down 0.6s ease-out 0.2s;
  animation-fill-mode: forwards;
}

@keyframes fade_down {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

.chapter_no span {
    font-weight: 600;
}

.img_contain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px calc(19vw - 50px);
}

.img_contain img{
  margin: 0 2px;
}

.title {
  color: #1B489D;
  font-size: 2.7rem;
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  margin-bottom: 10px;
  text-align: center;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: calc(1rem + 0.8vw);
  color: #585858;
  font-weight: 500;
  margin: 5px 0 12px 0px;
  text-align: center;
}

.desc {
  font-family: 'Roboto', sans-serif;
  font-size: calc(0.8rem + 0.2vw);
  font-weight: 400;
  width: 62%;
  text-align: center;
  opacity: 0;
  animation: fade_up 0.8s ease-out 0.3s;
  animation-fill-mode: forwards;
}

.img1 {
  width: 20%;
  animation: title_photo 0.6s ease-out 1;
  animation-fill-mode: forwards;
  opacity: 0;
}
.img3 {
  width: 20%;
  animation: title_photo 0.6s 0.4s ease-out 1;
  animation-fill-mode: forwards;
  opacity: 0;
}
.img2 {
  width: 50%;
  animation: title_photo 0.6s 0.2s ease-out 1;
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes title_photo {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.chevron_container {
  position: relative;
  bottom: 20px;
  display: flex;
  align-items: center;
  margin-top: 30px;
  opacity: 0;
  animation: fade_up 0.8s ease-out 0.4s;
  animation-fill-mode: forwards;
}

.chev_text {
  font-size: 15px;
  text-transform: uppercase;
  margin: 0px;
}

.chevron_icon_container {
  width: 22px;
  height: 22px;
  background-color: #fee500;
  margin-left: 7px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.scroll_down_icon_arrow {
  font-size: 26px;
  animation: chevAnim 2s infinite;
  transform: translateY(0px);
  opacity: 1;
}

@keyframes chevAnim {
  0%   {
    transform: translateY(0px);
    opacity: 1;
  }
  56%   {
    transform: translateY(0px);
    opacity: 1;
  }
  77%  {
    transform: translateY(8px);
    opacity: 0;
  }
  79% {
    transform: translateY(-8px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }

}


@media screen and (max-width: 60em) {
  .desc {
    width: 80%;
  }
  .title {
    font-size: 2.2rem;
  }
  .chev_text {
    font-size: 14px;
  }
  .chapter_no {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 900px) and (max-height: 650px) {
  .chapter_no {
    font-size: 1rem;
    margin: 10px 0px 20px 0px;
  }
  .img_contain {
    margin: 0px 225px;
  }
  .title {
    margin-top: 15px;
    font-size: 1.8rem;
  }
  .subtitle {
    font-size: 1rem;
    margin: 3px 0 8px 0px;
  }
  .desc {
    font-size: 0.8rem;
    margin-top: 5px;
  }
  .chev_text {
    font-size: 12px;
  }
  .chevron_icon_container {
    width: 16px;
    height: 16px;
  }
  .chevron_container {
    margin-top: 20px;
  }
}

@media screen and (min-width: 900px) and (max-height: 650px) {
  .img_contain {
    margin: 0px 250px;
  }
  .title {
    font-size: 1.7rem;
  }
  .subtitle {
    font-size: 1rem;
    margin: 3px 0 6px 0px;
  }
  .desc {
    font-size: 0.75rem;
    margin-top: 4px;
  }
  .chev_text {
    font-size: 11px;
  }
  .chevron_icon_container {
    width: 15px;
    height: 15px;
  }
}

@media screen and (max-width: 45em) {
  .chapter_no {
    margin: 40px 0px 20px 0px;
    font-size: 1.1rem;
  }
  .chev_text {
    font-size: 13px;
  }
}

@media screen and (max-width: 40em) {
  .desc {
    width: 85%;
  }
  .title {
    font-size: 1.8rem;
  }
  .chev_text {
    font-size: 12px;
  }
  .chapter_no {
    font-size: 1rem;
  }
}