/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

.navContainer {
  width: 100%;
  height: 100vh;
  z-index: 21;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  right: 0px;
  background: url('../../resources/navBG.png');
  background-size: cover;
  background-position: center;
}

.onlineSoon {
  font-size: 18px;
}

.absoluteBg, .absoluteBgMain {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.absoluteBg {
  opacity: 0;
}

.navItem {
  width: 100%;
  margin: 10px 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: fit-content;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.projectTitle {
  font-size: 25px;
  margin: 5px 0px;
  font-family: 'DM Serif Display', serif;
  letter-spacing: 1px;
  cursor: pointer;
  color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: 0.3s ease-in;
  -o-transition: 0.3s ease-in;
  transition: 0.3s ease-in;
}

.projectTitle:hover {
  color: black;
}

.underline {
  background-image: -o-linear-gradient(330deg, #FFEB3B 0%, #FFEB3B 100%);
  background-image: linear-gradient(120deg, #FFEB3B 0%, #FFEB3B 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.06em;
  background-position: 0 88%;
  -webkit-transition: background-size 0.25s ease-in;
  -o-transition: background-size 0.25s ease-in;
  transition: background-size 0.25s ease-in;
  &:hover {
    background-size: 100% 88%;
  }
}

.designed_by {
  position: absolute;
  bottom: 40px;
  right: 40px;
  cursor: pointer;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  font-family: 'Roboto', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lums_archive_logo_contain {
  position: absolute;
  top: 40px;
  left: 40px;
  cursor: pointer;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lums_archive_logo {
  width: 220px;
}

.plotreeLogo {
  width: 30px;
}

.browse_proj_heading {
  margin-left: 90px;
  font-weight: 600;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 0px;
  margin-top: 40px;
  color: #FFEB3B;
  text-transform: uppercase;
}

.disclaimer_container {
  position: absolute;
  left: 90px;
  bottom: 40px;
  width: 70%;
  color: white;
  font-size: 14px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.lums_logo {
  position: absolute;
  top: 40px;
  left: 90px;
  width: 70px;
  z-index: 2;
}


.closeIcon {
  border-radius: 50%;
  background: #243B61;
  color: #fff;
  width: 35px;
  height: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  position: absolute;
  right: 40px;
  top: 40px;
  -webkit-transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  -o-transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform;
  transition: 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) transform, 0.6s cubic-bezier(0.75, -1.27, 0.3, 2.33) -webkit-transform;
  cursor: pointer;
  z-index: 2;
}

.closeIcon:hover {
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1);
}

@media screen and (max-width: 60em){
  .navContainer {
    background-position: center;
  }
  
  .lums_archive_logo {
    width: 200px;
  }

  .closeIcon {
    width: 33px;
    height: 33px;
  }

  .projectTitle {
    font-size: 22px;
    margin: 3px 0px;
  }

  .browse_proj_heading {
    margin-left: 80px;
  }

  .navItem {
    margin: 10px 80px;
  }
}

@media screen and (min-width: 900px) and (max-height: 650px) {
  .projectTitle {
    font-size: 18px;
    margin: 2px 0px;
  }

  .browse_proj_heading {
    font-size: 13px;
  }

  .designed_by {
    font-size: 9px;
  }

  .plotreeLogo {
    width: 20px;
  }

  .closeIcon {
    width: 30px;
    height: 30px;
  }
}

@media screen and (max-width: 40em){
  .lums_archive_logo {
    width: 180px;
  }

  .closeIcon {
    width: 30px;
    height: 30px;
  }

  .projectTitle {
    font-size: 20px;
    margin: 3px 0px;
  }

  .designed_by {
    font-size: 10px;
  }

  .plotreeLogo {
    width: 25px;
  }

  .browse_proj_heading {
    margin-left: 50px;
  }

  .navItem {
    margin: 10px 50px;
  }
}

@media screen and (max-width: 300px){
  .browse_proj_heading {
    margin-left: 30px;
  }
  .navItem {
    margin: 5px 30px;
  }
  .projectTitle {
    font-size: 16px;
  }
  .lums_archive_logo {
    width: 120px;
  }
}