.sixty {
  width: 59%;
}

.sixtyvw {
  width: 45vw;
}

.fiftyfive {
  width: 54%;
}

.fifty {
  width: 49%;
}

.fiftyfivevw {
  width: 40vw;
}

.fortyfive {
  width: 44%;
}

.fortyfivevw {
  width: 35vw;
}

.thirty {
  width: 29%;
}

.thirtyvw {
  width: 25vw;
}

.thirtyfivevw {
  width: 27vw;
}

.twentyfivevw {
  width: 20vw;
}

.twentyvw {
  width: 15vw;
}

.forty {
  width: 39%;
}

.fortyvw {
  width: 30vw;
}

.twentyseven {
  width: 27%;
}

.twentyfive {
  width: 25%;
}

.twenty {
  width: 20%;
}

.fifteen {
  width: 15%;
}

.constant_margin {
  margin-right: 25px;
}

@media screen and (max-width: 60em) {
  
  .sixtyvw {
    width: calc(45vw * 1.1);
  }

  
  .fiftyfivevw {
    width: calc(40vw * 1.1);
  }
  
  .fortyfivevw {
    width: calc(35vw * 1.1);
  }
  
  .thirtyvw {
    width: calc(25vw * 1.1);
  }
  
  .thirtyfivevw {
    width: calc(27vw * 1.1);
  }
  
  .twentyfivevw {
    width: calc(20vw * 1.1);
  }
  
  .twentyvw {
    width: calc(15vw * 1.1);
  }
  
  .fortyvw {
    width: calc(30vw * 1.1);
  }
  
  .constant_margin {
    margin-right: 10px;
  }
  
}

@media screen and (max-width: 60em) {
  
  .sixtyvw {
    width: calc(45vw * 1.5);
  }

  
  .fiftyfivevw {
    width: calc(40vw * 1.5);
  }
  
  .fortyfivevw {
    width: calc(35vw * 1.5);
  }
  
  .thirtyvw {
    width: calc(25vw * 1.5);
  }
  
  .thirtyfivevw {
    width: calc(27vw * 1.5);
  }
  
  .twentyfivevw {
    width: calc(20vw * 1.5);
  }
  
  .twentyvw {
    width: calc(15vw * 1.5);
  }
  
  .fortyvw {
    width: calc(30vw * 1.5);
  }
  
  .constant_margin {
    margin-right: 5px;
  }
  
}
