.sixty {
  width: 59%;
}

.sixtyvw {
  width: 45vw;
}

.fiftyFive {
  width: 54%;
}

.fifty {
  width: 49%;
}

.fiftyFivevw {
  width: 40vw;
}

.fortyFive {
  width: 44%;
}

.fortyFivevw {
  width: 35vw;
}

.thirty {
  width: 29%;
}

.thirtyvw {
  width: 25vw;
}

.thirtyfivevw {
  width: 27vw;
}

.twentyfivevw {
  width: 20vw;
}

.twentyvw {
  width: 15vw;
}

.forty {
  width: 39%;
}

.fortyvw {
  width: 30vw;
}

.twentyseven {
  width: 27%;
}

.twentyfive {
  width: 25%;
}

.twenty {
  width: 20%;
}

.fifteen {
  width: 15%;
}

.constant_margin {
  margin-right: 25px;
}
