.overLay80 {
  width: 80%;
  margin: 0 10%;
}

.overLay75 {
  width: 75%;
  margin: 0 12.5%;
}

.overLay70 {
  width: 70%;
  margin: 0 15%;
}

.overLay65 {
  width: 65%;
  margin: 0 17.5%;
}

.overLay60 {
  width: 60%;
  margin: 0 20%;
}

.overLay55 {
  width: 55%;
  margin: 0 22.5%;
}

.overLay50 {
  width: 50%;
  margin: 0 25%;
}

.overLay45 {
  width: 45%;
  margin: 0 27.5%;
}

.overLay40 {
  width: 40%;
  margin: 0 30%;
}

.overLay35 {
  width: 35%;
  margin: 0 32.5%;
}

.overLay30 {
  width: 30%;
  margin: 0 35%;
}

.overLay25 {
  width: 25%;
  margin: 0 37.5%;
}

.overLay22 {
  width: 22%;
  margin: 0 39%;
}
