@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,600;0,700;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');


.chapter_title {
  height: 100vh;
  position: relative;
  z-index: 0;
}

.chapter_title_content {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.archive_logo {
  width: max(22%, 250px);
  margin-bottom: 35px;
}

.img_contain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0px calc(19vw - 50px);
}

.img_contain img{
  margin: 0 3px;
}

.img1, .img5 {
  width: 19%;
}
.img2, .img4 {
  width: 20%;
}
.img3 {
  width: 21%;
}

.title {
  color: #1B489D;
  font-size: calc(1.8rem + 1.5vw);
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  margin-bottom: 10px;
  text-align: center;
}

.subtitle {
  font-family: 'Roboto', sans-serif;
  font-size: calc(1rem + 0.8vw);
  color: #585858;
  font-weight: 500;
  margin: 5px 0 12px 0px;
  text-align: center;
}

.desc {
  font-family: 'Roboto', sans-serif;
  font-size: calc(0.8rem + 0.2vw);
  font-weight: 400;
  width: max(62%, 400px);
  text-align: center;
}

.start_story {
  font-size: calc(0.6rem + 0.5vw);
  border: 1.5px solid #1B489D;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
  font-family: 'Roboto', sans-serif;
  position: relative;
}

.start_story::before {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: #2584c6;
  z-index: -1;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 275ms ease-in-out;
}

.start_story p{
  z-index: 2;
  margin: 0px;
  transition: color 100ms ease-in-out;
}

.start_story:hover::before {
  transform: scaleX(1);
  transform-origin: left;
}

.start_story:hover p {
  transform: scaleX(1);
  color: white;
}

.start_story:active::before {
  background-color: white;
}

.start_story:active p {
  color: #1B489D;
}



@media screen and (max-width: 50em) {

  .img_contain {
    flex-wrap: wrap;
    margin: 0px 5vw;
  }
  .img_contain img{
    width: 30%
  }
  .img3 {
    display: none;
  }
  .img4 {
    display: none;
  }
  .img5 {
    display: none;
  }

  .chapter_no {
    margin: 40px 0px 20px 0px;
  }

}
