.navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100% - 140px);
  display: flex;
  flex-direction: row;
  margin: 25px 70px;
  z-index: 3;
  align-items: center;
}

.navbar.chapter_title {
  justify-content: space-between;

}

.navbar.landing {
  justify-content: flex-end;
}

.logo {
  width: 250px;
  cursor: pointer;
}

.menu {
  width: calc(20px + 0.7vw);
  cursor: pointer;
}

@media screen and (max-width: 60em){
  .navbar {
    width: calc(100% - 80px);
    margin: 25px 40px;
  }
  .logo {
    width: 200px;
    cursor: pointer;
  }
}

@media screen and (max-width: 40em){
  .navbar {
    width: calc(100% - 80px);
    margin: 25px 40px;
  }
  .logo {
    width: 150px;
    cursor: pointer;
  }
}
