.navbar {
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100% - 140px);
  display: flex;
  flex-direction: row;
  margin: 25px 70px;
  z-index: 3;
  align-items: center;
}

.navbar.chapter_title {
  justify-content: space-between;

}

.navbar.landing {
  justify-content: flex-end;
}

.logo {
  width: calc(200px + 5vw);
  cursor: pointer;
}

.menu {
  width: calc(20px + 0.7vw);
  cursor: pointer;
}
