.photo_container {
  width: 100%;
  margin: 60px 0px;
  overflow-x: hidden;
}

.flexed_photo_container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-between;
}

.horizontal_scroll_container {
  min-width: 100%;
  width: fit-content;
  overflow: visible;
  display: flex;
  flex-wrap: nowrap;
  flex-shrink: 0;
  transition: transform 0.9s cubic-bezier(0.65, 0, 0.35, 1);
}

.image_parent {
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.image_container {
  height: 325px;
  width: 100%;
  overflow: hidden;
}

.image_animate {
  width: 110%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform 1.4s cubic-bezier(0.22, 1, 0.36, 1);
}

.image_animate:hover {
  transform: translate3d(-8%, 0px, 0px);
}

.caption_container {
  display: flex;
  flex-direction: column;
}

.caption {
  font-size: 14px;
  margin: 10px 0px;
}

.scroll_button_container {
  display: flex;
  border-radius: 50px;
  overflow: hidden;
  width: fit-content;
}

.chevron_container {
  width: 40px;
  height: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #e0e0e0;
  color: black;
  cursor: pointer;
  transition: 0.25s cubic-bezier(0.76, 0, 0.24, 1);
}

.chevron_container:hover {
  background: #1B489D;
  color: #F4FF72;
}
