.quote_container {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 50px 0px;
  align-items: center;
  justify-content: center;
  background: #1B489D;
  padding: 40px 0px;
}

.added_margin_quote {
  margin: 100px 0px;
}

.content_container {
  width: 62%;
  display: flex;
  position: relative;
}

.photo_container {
  position: absolute;
  width: 30%;
}

.quote_photo {
  width: 100%;
}

.quote_content_container {
  width: 100%;
  padding-left: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  font-family: 'Playfair Display', serif;
  text-align: center;
  font-size: 24px;
  color: #F4FF72;
}

.quote_markers_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.quote_marker_line {
  width: 47%;
  height: 2px;
  background: #F4FF72;
}

.quote_marker_circle {
  width: 8px;
  height: 8px;
  background: #F4FF72;
  border-radius: 50%;
}

.ch1Q {
  height: 350px;
  width: auto;
  margin-top: -90px;
}
