.bg_white {
  background-color: #fff;
  padding: 50px 0px;
}

.bg_purple {
  background-color: rgb(26, 72, 157);
  padding: 50px 0px;
}

.quote_container {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  justify-content: center;
  background: #1b489d;
  padding: 40px 0px;
}

.added_margin_quote {
  padding: 110px 0px;
}

.content_container {
  width: 62%;
  display: flex;
  position: relative;
}

.quotation_mark {
  width: 30px;
}

.photo_container {
  position: absolute;
  width: 30%;
}

.quote_photo {
  width: 100%;
  border: 3px solid #ffffff;
}

.quote_content_container {
  width: 100%;
  padding-left: 32%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote {
  font-family: "Playfair Display", serif;
  margin: 15px 0px;
}

.quote_center {
  text-align: center;
}

.quote_left {
  text-align: left;
}

.quote_white {
  color: #ffffff;
}

.quote_yellow {
  color: #f4ff72;
}

.quote_big {
  font-size: 21px;
}

.quote_small {
  font-size: 16px;
}

.quote_smaller {
  font-size: 14px;
}

.quoter {
  font-size: 12px;
  color: #fff;
}

.quote_markers_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.quote_marker_line {
  width: 47%;
  height: 1px;
  background: #ffffff;
}

.quote_marker_circle {
  width: 6px;
  height: 6px;
  background: #ffffff;
  border-radius: 50%;
}

.ch1Q {
  height: 350px;
  width: auto;
  margin-top: -90px;
}

.rotate2 {
  transform: rotate(-2deg);
}

.rotate3 {
  transform: rotate(-3deg);
}

@media screen and (max-width: 80em) {
  .bg_white {
    padding: 40px 0px;
  }

  .bg_purple {
    padding: 40px 0px;
  }

  .content_container {
    width: 70%;
  }
  .quote_big {
    font-size: 18px;
  }
  .quote_small {
    font-size: 15px;
  }
  .photo_container {
    width: 28%;
  }
  .quote_content_container {
    padding-left: 30%;
  }
}

@media screen and (max-width: 60em) {
  .bg_white {
    padding: 30px 0px;
  }

  .bg_purple {
    padding: 30px 0px;
  }

  .content_container {
    width: 75%;
  }
  .quote_big {
    font-size: 15px;
  }
  .quote_small {
    font-size: 13px;
  }

  .quote_smaller {
    font-size: 13px;
  }

  .photo_container {
    width: 25%;
  }
  .quote_content_container {
    padding-left: 27%;
  }

  .quotation_mark {
    width: 25px;
  }

  .quoter {
    font-size: 11px;
  }
}

@media screen and (min-width: 900px) and (max-height: 650px) {
  .bg_white {
    padding: 30px 0px;
  }

  .bg_purple {
    padding: 30px 0px;
  }

  .content_container {
    width: 60%;
  }
  .quote_big {
    font-size: 15px;
  }
  .quote_smaller {
    font-size: 10px;
  }
  .photo_container {
    width: 23%;
  }
  .quote_content_container {
    padding-left: 25%;
  }

  .quotation_mark {
    width: 25px;
  }

  .quoter {
    font-size: 11px;
  }
}

@media screen and (max-width: 40em) {
  .bg_white {
    padding: 25px 0px;
  }

  .bg_purple {
    padding: 25px 0px;
  }

  .content_container {
    width: 85%;
  }
  .quote_big {
    font-size: 14px;
  }
  .quote_small {
    font-size: 10px;
  }
  .photo_container {
    display: none;
  }
  .quote_content_container {
    padding-left: 0%;
  }

  .quotation_mark {
    width: 20px;
  }
  .quoter {
    font-size: 8px;
  }
}

@media screen and (max-width: 30em) {
  .bg_white {
    padding: 20px 0px;
  }

  .bg_purple {
    padding: 20px 0px;
  }

  .content_container {
    width: 90%;
  }
  .quote_big {
    font-size: 12px;
  }
  .quote_small {
    font-size: 10px;
  }
}
