.heading_container {
  width: 60%;
  position: relative;
  min-height: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px 0px;
}

.heading {
  font-family: 'Playfair Display', serif;
  color: #1B489D;
  font-weight: 500;
  font-size: 24px;
  position: relative;
  z-index: 2;
  margin: 0px;
}

.circle {
  width: 80px;
  height: 80px;
  position: absolute;
  right: 0px;
  top: 0px;
  background: #e0e0e0;
  border-radius: 50%;
  z-index: 1;
  display: none;
}
